# Terraformの一時ファイル
.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
terraform.tfvars

# ログファイル
*.log

# クラッシュログファイル
crash.log

# 機密情報を含む可能性のあるファイル
*.tfvars
!terraform.tfvars.example
override.tf
override.tf.json
*_override.tf
*_override.tf.json
